<ion-header>
    <ion-toolbar animated color="warning">
        <ion-grid>
            <ion-row>
                <ion-col size="12">
                    <div class="vertical-center">
                        <img src="assets/img/paola.png">
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>

        <div class="vertical-center">
            <img src="assets/img/userinicio.png" height="30px" width="30px">
            <label style=" font: oblique bold 150% cursive;">{{name}}</label>
            <div></div>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <h1 style=" font: oblique bold 150% cursive;">Populares</h1>
    <div class="wrapper">
        <div *ngFor="let item of peli" style="padding: 5px;" [routerLink]="['../../detail/', item.id, name]">
            <img src="https://image.tmdb.org/t/p/original/{{item.poster_path}}">
        </div>
    </div>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="GetPopulares($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando...">
            <ion-spinner name=""></ion-spinner>
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>

<ion-item animated color="warning">
    <ion-grid>
        <div class="vertical-center">
            <ion-row>
                <ion-col size="12">
                    <div>
                        <ion-footer>
                            <ion-segment scrollable value="home" color="warning">
                                <ion-segment-button value="home" [routerLink]="['/home/', name]" style=color:yellow>
                                    <ion-icon name="home-sharp"></ion-icon>
                                    <ion-label>INICIO</ion-label>
                                </ion-segment-button>

                                <ion-segment-button value="home" [routerLink]="['/buscarmovies/', name]" style=color:yellow>
                                    <ion-icon name="search-sharp"></ion-icon>
                                    <ion-label>BUSCAR</ion-label>
                                </ion-segment-button>

                                <ion-segment-button value="home" style=color:yellow (click)="borrar()">
                                    <ion-icon name="exit-sharp"></ion-icon>
                                    <ion-label>SALIR</ion-label>
                                </ion-segment-button>
                            </ion-segment>
                        </ion-footer>
                    </div>
                </ion-col>
            </ion-row>
        </div>
    </ion-grid>
</ion-item>