.my-custom-menu {
    --width: 500px;
}

.custom-skeleton ion-skeleton-text {
    line-height: 13px;
}

.custom-skeleton ion-skeleton-text:last-child {
    margin-bottom: 5px;
}

.wrapper {
    display: grid;
    grid-template-columns: 33.25% 33.25% 33.25%;
}

ion-content {
    --ion-background-color: #000000;
}

h1 {
    color: aliceblue;
}

.vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.oscuro {
    --ion-background-color: #000000;
}

.menuSubTitle {
    font-size: 0.8em;
    float: left;
    display: block;
    clear: both;
    color: yellow;
}

.icono {
    color: yellow;
}

$segment-button-md-height:55px;